
.cardprofile{
    margin-top: -48px;
    border-color: white;
}


.profile img {
    width: 200px !important;
    height: 200px !important;
}

.img-raised {
    box-shadow: 0 5px 15px -8px rgba(0,0,0,.24), 0 8px 10px -5px rgba(0,0,0,.2);
}

.rounded-circle {
    border-radius: 50%!important;
}

.etud{
  margin-top: 5px;
}

.title {
    margin-top: 15px;
    margin-bottom: 25px;
    min-height: 32px;
    color: #3C4858;
    font-weight: 700;
    font-family: "Roboto Slab","Times New Roman",serif;
    text-align: center;
}
.title1 {
    margin-top: 15px;
    margin-bottom: 25px;
    min-height: 32px;
    color: #3C4858;
    font-weight: 500;
    font-family: "Roboto Slab","Times New Roman",serif;
}

.profile-page .description {
    max-width: 600px;
    color: #999;
    text-align: justify !important;
    font-weight: 500;
}

p {
    font-size: 14px;
    margin: 0 0 10px;
}

.profile-page .profile-tabs {
    margin-top: 4.284rem;
}

 .nbvotes .nb{
  color:#ff2846;
  padding-left: 5px;
  padding-right: 5px;
}

 .nbvotes i{
  color:#f2078c;
 padding-top: 2px;
}
.nbvotes {
  margin-top: -30px;
}
.nbvotes span{
margin-top: 20px;
padding-left: 5px;
}
.nbvotes p{
  padding-left: 5px;
}

.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
